<div class="u-container">
  <div class="row">
    <div class="col col-1-of-3">
      <h4 class="index_about_heading">Our Mission</h4>
      <p>To create unique institution commited to the pursuit of selling best products, best advices to customer and a tradition of excellence in Watches, selling and service and providing most satisfying customer.</p>
    </div>
    <div class="col col-1-of-3">
      <h4 class="index_about_heading">What We Do</h4>
      <p>We are selling watches of all different <span class="u-capital u-primary">16 Brands</span> from last <span class="u-capital u-primary">50 Years</span>, and we are the best seller in the city from last <span class="u-capital u-primary">30 Years</span>.</p>
    </div>
    <div class="col col-1-of-3">
      <h4 class="index_about_heading">Why Choose Us</h4>
      <p>We have got <span class="u-capital u-primary">16 Trust Certificates</span> from all brands. We also provide the <span class="u-capital u-primary">Nutural Advice</span> to the customer for buying and selling their valuable watches. We also provide <span class="u-capital u-primary">Online Store</span>, so you can buy anytime, anywhere!!</p>
    </div>
  </div>
</div>