<div class="u-container">
  <h2 class="section_heading">Blogs</h2>
  <div class="row">
    {% for post in site.posts limit:3 %}
      <div class="blog_container">
        <div class="blog_top">
          <div class="img_container">
            <img src='../../../../../assets/img/blogs/{{ post.categories }}/{{ post.date | date: "%Y-%m-%d" }}-{{ post.imageName }}-feature.jpg' alt="{{ post.title }} Feature Image">
          </div>
          <div class="date_container">
            <p class="date">{{ post.date | date: "%d" }}</p>
            <p class="month">{{ post.date | date: "%b %y" }}</p>
          </div>
          <div class="blog_title_container">
            <h3 class="blog_title">{{ post.title }}</h3>
            <p class="blog_author">
              {{ post.author }}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
