<video autoplay muted loop class="index_header_video" src="assets/video/header-bg.mp4" type="video/mp4"></video>
<div class="u-overlay">
  <div class="u-container">
    <h1>Timeliners</h1>
    <p>
      We are always here to manage your <br>
      <span class="u-bold u-primary">Timeline</span> with the expirence of 50 years in <br>
      selling watches.
    </p>
    <div class="btn-wrapper">
      <a href="watch-index.html" class="btn btn_primary_solid">Buy Now !</a>
      <a href="about.html" class="btn btn_white_ghost">Learn More</a>
    </div>
  </div>
</div>
