<div class="u-container">
  <h2 class="section_heading">#Timeliners</h2>
  <div class="instagram_container">
    <div class="flex-row">
      {% for image in site.data.instagram.instgramImages %}
        <!-- <div class="col-1-of-4"> -->
          <div class="img_container">
            <a href="#">
              <img src="assets/img/instagram/{{ image.imageName }}.jpg" alt="{{ image.username }}'s Post" class="instagram_image --js-instagram-image">
            </a>
          </div>
        <!-- </div> -->
      {% endfor %}
    </div>
  </div>
</div>
