<div class="u-overlay">
  <div class="u-container">
    <div class="row">
      <div class="col col-5-of-12">
        <img src="assets/img/upcoming-watch-preview.png" alt="Rolex Styler 1" class="index_upcoming_watch__img">
      </div>
      <div class="col col-7-of-12">
        <div class="index_upcoming_watch__text">
          <h2 class="special u-primary">Coming Soon!</h2>
          <div class="watch_name">
            <p class="company_name u-capital u-bold">Rolex</p>
            <h2 class="modal_name">Styler 1</h2>
          </div>
          <p class="launch_date"><span class="u-bold u-capital">Launch Date:</span> 25<sup>th</sup> January, 2018</p>
          <p class="preview_text">Designer analog text! Looks stylish on every cloth and on every functions. Pre Order Now!!!</p>
          <a href="#" class="btn btn-white-ghost">Pre-Order Now!!</a>
        </div>
      </div>
    </div>
  </div>
</div>