---
layout: watch
watchName: Smoothie
companyName: Rolex
details: Although the Rolex GMT-Master was designed essentially for professional use, its combination of peerless functionality and rugged good looks has attracted a wider travelling public. As well as appreciating its ability to display different time zones these travellers admire the robustness and versatile appearance that make the GMT-Master eminently suitable for globetrotting and, indeed, for any occasion.
price: 39.99
imageFolderPath: ../../assets/img/watches/Rolex/Smoothie
permalink: watches/Rolex/Smoothie.html
---

<section class="watch_features">
  <div class="u-container col-8-of-12">
    <div class="flex-row">
      <div class="col-1-of-2">
        {% include watchFeatures/leatherBeltCard.html %}
      </div>
      <div class="col-1-of-2">
        {% include watchFeatures/batteryLifeCard.html %}
      </div>
      <div class="col-1-of-2">
        {% include watchFeatures/waterProofCard.html %}
      </div>
      <div class="col-1-of-2">
        {% include watchFeatures/radiumEmbededCard.html %}
      </div>
    </div>
  </div>
</section>

<section class="watch_reviews">
  <div class="u-container">
    <h2 class="section_heading">Reviews</h2>
    <div id="review_carousal">
      <div class="glider-contain">
        <div class="glider">
          {% for review in site.data.watches.reviews.reviews %}
            {% if review.watchName == page.watchName %}
              {% for review in review.reviews %}
                <div>
                  <div class="slide">
                    <img src="{{ page.imageFolderPath }}/testimonial-{{ forloop.index }}.jpg" alt="name">
                    <div class="review_container">
                      <p class="review">{{ review.review }}</p>
                      <p class="name u-bold u-primary">- {{ review.name }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        <button role="button" aria-label="Previous" class="glider-prev">
          {% include icons/carousal-left-icon.html %}
        </button>
        <button role="button" aria-label="Next" class="glider-next">
          {% include icons/carousal-right-icon.html %}
        </button>
        <div role="tablist" class="dots"></div>
      </div>
    </div>
  </div>
</section>

<div class="watch_comments">
  <div class="u-container">
    <div class="row col-6-of-12">
      <h5 class="comments_title">
        {% for review in site.data.watches.reviews.reviews %}
          {% if review.companyName == page.companyName %}
            {% if review.watchName == page.watchName %}
              {{ review.comments | size }} Comments
            {% endif %}
          {% endif %}
        {% endfor %}
      </h5>
      <div class="comments_container">
        {% for review in site.data.watches.reviews.reviews %}
          {% if review.companyName == page.companyName %}
            {% if review.watchName == page.watchName %}
              {% for comment in review.comments %}
              <div class="comment_box {% if comment.isSubComment == true %} subComment {% endif %}">
                <img src="{{ page.imageFolderPath }}/comments/{{ comment.name }}.jpg" alt="{{ comment.name }}">
                <div class="comment">
                  <p class="comment_text">{{ comment.comment }}</p>
                  <div class="comment_buttons_wrapper">
                    <div class="comment_action_buttons">
                      <a href="#" class="comment_link">{% include icons/comment-reply.html %} Reply</a>
                      <a href="#" class="comment_link">{% include icons/comment-heart.html %} Like</a>
                    </div>
                    <div class="social_links">
                      <a href="#" class="comment_link_social">{% include icons/facebook.html %}</a>
                      <a href="#" class="comment_link_social">{% include icons/youtube.html %}</a>
                      <a href="#" class="comment_link_social">{% include icons/twitter.html %}</a>
                      <a href="#" class="comment_link_social">{% include icons/linked-in.html %}</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="watch_reply">
  <div class="u-container">
    <div class="row col-6-of-12">
      <h5>Leave a Reply</h5>
      <form class="reply_form">
        <div class="row">
          <div class="col col-1-of-2">
            <input type="text" name="fname" placeholder="First Name" required>
          </div>
          <div class="col col-1-of-2">
            <input type="text" name="lname" placeholder="Last Name">
          </div>
        </div>
        <div class="row">
          <input type="email" name="email" required placeholder="Email">
        </div>
        <div class="row">
          <textarea name="message" placeholder="Message" required></textarea>
        </div>
        <div class="row">
          <input type="submit" value="Reply" class="btn-small btn-primary-solid">
        </div>
      </form>
    </div>
  </div>
</div>