---
layout: watch
watchName: Smoothie
companyName: Rolex
details: Although the Rolex GMT-Master was designed essentially for professional use, its combination of peerless functionality and rugged good looks has attracted a wider travelling public. As well as appreciating its ability to display different time zones these travellers admire the robustness and versatile appearance that make the GMT-Master eminently suitable for globetrotting and, indeed, for any occasion.
price: 39.99
imageFolderPath: ../../assets/img/watches/Rolex/Smoothie
permalink: watches/Rolex/Smoothie.html
isFeature: true
---

<section class="watch_features">
  <div class="u-container col-8-of-12">
    <div class="flex-row">
      <div class="col-1-of-2">
        {% include watchFeatures/leatherBeltCard.html %}
      </div>
      <div class="col-1-of-2">
        {% include watchFeatures/batteryLifeCard.html %}
      </div>
      <div class="col-1-of-2">
        {% include watchFeatures/waterProofCard.html %}
      </div>
      <div class="col-1-of-2">
        {% include watchFeatures/radiumEmbededCard.html %}
      </div>
    </div>
  </div>
</section>
