<div class="blog_information">
  <div class="author_container">
    <img
      src="{{ aite.baseurl }}/assets/img/blogs/authors/{{ page.authorImage }}.jpg"
      class="author_image"
      alt="{{ page.author }}">
    <div class="author">
      <p class="author_name u-bold">{{ page.author }}</p>
      <p class="author_profession">{{ page.authorProfession }}</p>
    </div>
  </div>
  <div class="tags_container">
    <p class="u-bold u-primary">Tags : </p>
    <div>
      <p class="tags_list">
        {% for tag in page.tags %}
          <a href="#" class="tags"> {{ tag }} </a>
        {% endfor %}
      </p>
    </div>
  </div>
</div>
