<div class="reply_form_container">
  <div class="u-container">
    <div class="row col-8-of-12">
      <h5>Leave a Reply</h5>
      <form class="reply_form">
        <div class="row">
          <div class="col col-1-of-2">
            <input type="text" name="fname" placeholder="First Name" required>
          </div>
          <div class="col col-1-of-2">
            <input type="text" name="lname" placeholder="Last Name">
          </div>
        </div>
        <div class="row">
          <input type="email" name="email" required placeholder="Email">
        </div>
        <div class="row">
          <textarea name="message" placeholder="Message" required></textarea>
        </div>
        <div class="row">
          <input type="submit" value="Reply" class="btn_small btn_primary_solid">
        </div>
      </form>
    </div>
  </div>
</div>
