<div class="blog_bottom_action_container">
  <div class="blog_action">
    <div class="like">
      <div class="svg_container">
        {% include icons/comment-heart.html %}
      </div>
      <p>
        {% for comment in site.data.blogs.comments.comments %}
        {% if comment.blogTitle == page.title %}
          {{ comment.likes }} Likes
        {% endif %}
        {% endfor %}
      </p>
    </div>
    <div class="comment">
      <div class="svg_container">
        {% include icons/comment-reply.html %}
      </div>
      <p>
        {% for comment in site.data.blogs.comments.comments %}
          {% if comment.blogTitle == page.title %}
            {{ comment.commentsCount }} Comments
          {% endif %}
        {% endfor %}
      </p>
    </div>
  </div>
  <div class="social_links_wrapper">
    <ul class="social_links">
      <li class="links">
        <a href="https://www.facebook.com" target="_blank">
          {% include icons/facebook.html %}
        </a>
      </li>
      <li class="links">
        <a href="https://www.youtube.com" target="_blank">
          {% include icons/youtube.html %}
        </a>
      </li>
      <li class="links">
        <a href="https://www.twitter.com" target="_blank">
          {% include icons/twitter.html %}
        </a>
      </li>
      <li class="links">
        <a href="https://www.linkedin.com" target="_blank">
          {% include icons/linked-in.html %}
        </a>
      </li>
    </ul>
  </div>
</div>
