<div class="blog_navigation">
  <div class="previous_post">
    {% if page.previous.url %}
      <a href="{{ page.previous.url }}" target="_blank">
        <span class="img_container">
          <img src='{{ site.baseurl }}/assets/img/blogs/{{ page.previous.categories }}/{{ page.previous.date | date: "%Y-%m-%d" }}-{{ page.previous.imageName }}-feature.jpg' alt="{{ page.previous.title }}">
        </span>
        <div class="content">
          <p class="title u-bold">{{ page.previous.title }}</p>
          <p class="kicker">Prev Post</p>
        </div>
      </a>
    {% else %}
      <p class="u-bold">No Previous Post</p>
    {% endif %}
  </div>
  <div class="next_post">
    {% if page.next.url %}
      <a href="{{ page.next.url }}" target="_blank">
        <span class="img_container">
          <img src='{{ site.baseurl }}/assets/img/blogs/{{ page.next.categories }}/{{ page.next.date | date: "%Y-%m-%d" }}-{{ page.next.imageName }}-feature.jpg' alt="{{ page.next.title }}">
        </span>
        <span class="content">
          <p class="title u-bold">{{ page.next.title }}</p>
          <p class="kicker">Next Post</p>
        </span>
      </a>
    {% else %}
      <p class="u-bold">No Next Post</p>
    {% endif %}
  </div>
</div>
