<div class="blog_comments_container">
  <div class="u-container">
    <div class="row col-8-of-12">
      <h5 class="comments_title">
        {% for comment in site.data.blogs.comments.comments %}
          {% if comment.blogTitle == page.title %}
            {{ comment.comments | size }} Comments
          {% endif %}
        {% endfor %}
      </h5>
      <div class="comments_container">
        {% for comment in site.data.blogs.comments.comments %}
          {% if comment.blogTitle == page.title %}
            {% for comment in comment.comments %}
              <div class="comment_box {% if comment.isSubComment %} subComment {% endif %}">
                <img src='{{ site.baseurl }}/assets/img/blogs/{{ page.categories }}/comments/{{ comment.name }}.jpg' alt="{{ comment.name }}">
                <div class="comment">
                  <p class="comment_text">{{ comment.comment }}</p>
                  <div class="comment_buttons_wrapper">
                    <div class="comment_action_buttons">
                      <a href="#" class="comment_link">{% include icons/comment-reply.html %} Reply</a>
                      <a href="#" class="comment_link">{% include icons/comment-heart.html %} Like</a>
                    </div>
                    <div class="social_links">
                      <a href="#" class="comment_link_social">{% include icons/facebook.html %}</a>
                      <a href="#" class="comment_link_social">{% include icons/youtube.html %}</a>
                      <a href="#" class="comment_link_social">{% include icons/twitter.html %}</a>
                      <a href="#" class="comment_link_social">{% include icons/linked-in.html %}</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
