<img
  src='{{ site.baseurl }}/assets/img/blogs/{{ page.categories }}/{{ page.date | date: "%Y-%m-%d" }}-{{ page.imageName }}-feature.jpg'
  alt="{{ page.title }} feature" class="blog_post_header-background">
<div class="u-overlay"></div>

<div class="content">
  <h1>{{ page.title }}</h1>
  <p class="categories">
    {{ page.categories }}
  </p>
  <p class="path">
    <a href="{{ site.baseurl }}/blogs/index.html">Home</a> >
    <span>{{ page.categories }}</span> >
    <a href="{{ site.baseurl }}/{{ page.url }}" class="post_link">{{ page.title }}</a>
  </p>
</div>