<img
  src='{{ site.baseurl }}/assets/img/blogs/{{ page.categories }}/{{ page.date | date: "%Y-%m-%d" }}-{{ page.imageName }}-feature.jpg'
  alt="{{ page.title }} feature"
  class="blog_post_header-background" >
<div class="u-overlay"></div>

<div class="content">
  <h1>{{ page.title }}</h1>
  <a href="{{ site.baseurl }}/blogs/{{ page.categories }}.html" class="categories">
    {{ page.categories }}
  </a>
  <p class="path">
    <a href="{{ site.baseurl }}/blog-index.html">Home</a> >
    <a href="{{ site.baseurl }}/blogs/{{ page.categories }}.html">{{ page.categories }}</a> >
    <a href="{{ site.baseurl }}/{{ page.url }}" class="post_link">{{ page.title }}</a>
  </p>
</div>
