<div class="blog_sidebar">

  <!-- Search Form Starts -->

  <div class="searchbox_container">
    <form class="blog_search_form" >
      <!-- Prevent default in inline js -->
      <input type="text" name="search" id="search" class="blog_search_input" placeholder="Search">
      <button type="submit" class="blog_search_submit">
        {% include icons/search.html %}
      </button>
    </form>
  </div>

  <!-- Search Form Ends -->

  <!-- Company Dashboard Starts -->

  <div class="company_dashboard_container">
    <div class="logo_container">
      <a href="../../../../../about.html" target="_blank">
        {% include logo/logo-secondary.html %}
      </a>
    </div>
    <div class="content">
      <p class="company_name u-bold">Timeliners</p>
      <p class="kicker">The Watch Company</p>
      <div class="social_link_wrapper">
        <a href="https://www.facebook.com/" class="social_link" target="_blank">
          {% include icons/facebook.html %}
        </a>
        <a href="https://www.youtube.com/" class="social_link" target="_blank">
          {% include icons/youtube.html %}
        </a>
        <a href="https://www.twitter.com/" class="social_link" target="_blank">
          {% include icons/twitter.html %}
        </a>
        <a href="https://www.linkedin.com/" class="social_link" target="_blank">
          {% include icons/linked-in.html %}
        </a>
      </div>
    </div>
  </div>

  <!-- Company Dashboard Ends -->

  <!-- Popular Post Starts  -->

  <div class="popular_post">
    <h3 class="blog_sidebar_heading">Popular Post</h3>

    {% for post in site.posts limit:3 %}
      {% for tag in post.tags %}
        {% if tag == 'Latest' %}

          <div class="row">
            <div class="col col-1-of-4">
              <div class="img_container">
                <img
                src='../../../../../assets/img/blogs/{{ post.categories }}/{{ post.date | date: "%Y-%m-%d" }}-{{ post.imageName }}-feature.jpg'
                alt="{{ post.title }} feature"
                class="popular_post_blog_img" >
              </div>
            </div>
            <div class="col col-3-of-4">
              <div class="content">
                <p class="popular_blog_title u-bold">
                  <a href="{{ post.url }}" target="_blank"> {{ post.title }}  </a>
                </p>
                <p class="popular_blog_date"> {{ post.date | date_to_string }} </p>
              </div>
            </div>
          </div>

        {% endif %}
      {% endfor %}
    {% endfor %}

  </div>

  <!-- Popular Post Ends -->

  <!-- Offer Starts -->

  <div class="offer_container">
    {% for page in site.pages %}
      {% if page.isOffer %}
        <a href="../../../../../{{ page.permalink }}" target="_blank">
          <img src="../../../{{ page.imageFolderPath }}/feature.png" alt="{{ page.watchName }}" class="offer_img">
          <span class="u-overlay"></span>
          <div class="content">
            <p class="u-bold u-primary offer_title"> {{ page.offerDiscount }} Discount</p>
            <p class="u-bold kicker">Offer is only for <span class="u-capital">Today!</span></p>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>

  <!-- Offer Ends -->

  <!-- Archive Starts -->

  <div class="post_categories_container">
    <h3 class="blog_sidebar_heading">Archive</h3>
    <ul class="archive_list">
      {% for category in site.categories %}
        <li class="archive_row">
          <p class="title">
            <a href="../../../../../blogs/{{ category[0] }}.html" target="_blank"> {{ category[0] }} </a>
          </p>
          <p class="count u-primary u-bold">{{ category[1].size }}</p>
        </li>
      {% endfor %}
    </ul>
    <h3 class="blog_sidebar_heading">Tags</h3>
    <p class="tags_container">
      {% for tag in site.tags %}
        <a href="#" class="tags"> {{ tag[0] }} </a>
      {% endfor %}
    </p>
  </div>

  <!-- Archive Ends -->

  <!-- NewsLetter Starts -->

  <div class="newsletter_container">
    <h3 class="blog_sidebar_heading">News Letter</h3>
    <!-- Prevent default event in js -->
    <form class="newsletter_form">
      <input type="email" name="email" required placeholder="Your Email" class="newsletter_form_input">
      <button class="newsletter_form_submit" type="submit">
        {% include icons/mail.html %}
      </button>
    </form>
  </div>

  <!-- NewsLetter Ends -->

</div>
