.blog_sidebar
  @import "blog-sidebar-search"
  @import "blog-sidebar-compnay-dashboard"
  @import "blog-sidebar-popular-post"

  // Styling
  padding: 30px
  padding-right: 0
  border-left: 2px solid rgba($black-color, 0.05)
