.location_schedule
  +section-padding
  h2
    margin-bottom: 100px
  .table_container
    width: 100%
    overflow-x: auto
    table
      width: 100%
      text-align: center
      font-size: 1rem
      tr
        height: 50px
        width: 100%
    .svg_container
      height: 16px
      width: auto
      overflow: hidden
      svg
        height: 100%
        width: auto