<div class="u-container">
    <div class="flex-row">
        <div class="flex-col col-1-of-4">
            <img src="{{ site.baseurl }}/assets/img/brands/rolex.png" alt="Rolex">
        </div>
        <div class="flex-col col-1-of-4">
            <img src="{{ site.baseurl }}/assets/img/brands/fastrack.png" alt="Fastrack">
        </div>
        <div class="flex-col col-1-of-4">
            <img src="{{ site.baseurl }}/assets/img/brands/quartz.png" alt="Quartz">
        </div>
        <div class="flex-col col-1-of-4">
            <img src="{{ site.baseurl }}/assets/img/brands/reebok.png" alt="Reebok">
        </div>
    </div>
</div>