<div class="u-container col-8-of-12">
  <div class="flex-row">
    <div class="col-1-of-2">
      <div class="feature_box">
        <div class="svg_container">
          {% include icons/companyFeatures/homeDelivery.html %}
        </div>
        <div class="feature_text">
          <p class="u-bold u-capital">
            Free Home Delivery
          </p>
          <p>
            To our every customers
          </p>
        </div>
      </div>
    </div>

    <div class="col-1-of-2">
      <div class="feature_box">
        <div class="svg_container">
          {% include icons/companyFeatures/24HourService.html %}
        </div>
        <div class="feature_text">
          <p class="u-bold u-capital">
            24 Hour Call support
          </p>
          <p>
            Ask questions any time
          </p>
        </div>
      </div>
    </div>

    <div class="col-1-of-2">
      <div class="feature_box">
        <div class="svg_container">
          {% include icons/companyFeatures/moneyReturn.html %}
        </div>
        <div class="feature_text">
          <p class="u-bold u-capital">
            Money return
          </p>
          <p>
            100% Return in 5 Days
          </p>
        </div>
      </div>
    </div>

    <div class="col-1-of-2">
      <div class="feature_box">
        <div class="svg_container">
          {% include icons/companyFeatures/discount.html %}
        </div>
        <div class="feature_text">
          <p class="u-bold u-capital">
            Special discount
          </p>
          <p>
            to every premium members
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
