<div class="u-container">
  <div class="row">
    <div class="col col-1-of-3">
      <div class="logo">
        <a href="{{ site.baseurl }}">
          {% include logo/logo.html %}
        </a>
      </div>
      <ul class="footer-nav">

        {%- comment -%} 
          Looping through all navigation options inside navigation file in data. 
        {%- endcomment -%}

        {% for item in site.data.navigation.navigation %}
          <li class="footer-item">
            <a href="{{ site.baseurl }}/{{ item.url }}" class="footer-link u-capital">
              {{ item.pageName }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col col-1-of-3">
      <h3 class="special">Follow Us On Web</h3>
      <ul class="footer-nav">

        {%- comment -%} 
          Looping through all socail links options inside socialLinks file in data. 
        {%- endcomment -%}

        {% for item in site.data.socialLinks.socialLinks %}
          <li class="footer-item">
            <a href="{{ site.baseurl }}/{{ item.url }}" 
              class="footer-link u-capital" 
              target="_blank">
                {{ item.platform }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col col-1-of-3">
      <div class="address-content">
        <p class="u-bold u-capital">
          Address:
        </p>
        <address>
          123, HotStream Avenue, <br>
          Toronto, <br>
          Manitoba, Canada. <br>
          <span class="u-capital">r2c0n5</span>
        </address>
        <p class="u-bold u-capital">
          Phone Number:
        </p>
        <p>
          <a href="tel:+{{ site.phone }}">+{{ site.phone }}</a>
        </p>
        <p class="u-bold u-capital">E-mail:</p>
        <p>
          <a href="mailto:{{ site.email }}">
            {{ site.email }}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Copyright Paragraph -->
<p class="copyright">
  Copyright &copy; 2018. THE TIMELINERS. 
  <a href="#">Terms</a> 
  and 
  <a href="#">Conditions</a> 
   are applied.
</p>

