<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Title Of the Page -->
<title> Timeliners </title>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Source+Sans+Pro:400,400i,700|Hammersmith+One" rel="stylesheet">

<!-- Custom Stylings -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

<!-- Adding cross browser compatiblity scripts if the browser is Internet Explorer and version is less than IE9 -->

<!--[if lt IE 9]>
<script src="{{ site.baseurl }}/assets/js/CrossBrowserJS/html5shiv.js"></script>
<script src="{{ site.baseurl }}/assets/js/CrossBrowserJS/selectivizr.js"></script>
<script src="{{ site.baseurl }}/assets/js/CrossBrowserJS/respond.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon/site.webmanifest">
<link rel="shortcut icon" href="/assets/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">