<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Title Of the Page -->
<title> Timeliners </title>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Source+Sans+Pro:400,400i,700|Hammersmith+One" rel="stylesheet">

<!-- Custom Stylings -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

<!-- Adding cross browser compatiblity scripts if the browser is Internet Explorer and version is less than IE9 -->

<!--[if lt IE 9]>
<script src="{{ site.baseurl }}/assets/js/CrossBrowserJS/html5shiv.js"></script>
<script src="{{ site.baseurl }}/assets/js/CrossBrowserJS/selectivizr.js"></script>
<script src="{{ site.baseurl }}/assets/js/CrossBrowserJS/respond.js"></script>
<![endif]-->