<!-- Navbar Starts Here -->
<nav>
  <div class="u-container">
    <div class="logo">
      <a href="{{ site.baseurl }}">
        {% include logo/logo.html %}
      </a>
    </div>
    <div class="u-toggle-button">
      <a href="#" id="--js-toggle-button">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <ul class="navigation" id="--js-navigation">
      {%- comment -%} 
        Looping through all navigation options inside navigation file in data. 
      {%- endcomment -%}
      
      {% for item in site.data.navigation.navigation %}
        <li class="nav-item {% if item.url == page.permalink %} active {% endif %}">
          <a href="{{ site.baseurl }}/{{ item.url }}" class="nav-link">
            {{ item.pageName }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
<!-- Navbar Ends Here -->
