---
layout: postList
---
<div class="blog_list_container">
  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
  <div class="blog_list_card">
    <div class="blog_list_card_head">
      <div class="img_container">
        <img
          src='{{ site.baseurl }}/assets/img/blogs/{{ post.categories }}/{{ post.date | date: "%Y-%m-%d" }}-{{ post.imageName }}-feature.jpg'
          alt="{{ post.title }} Feature Image" class="--js-blog-card-image">
      </div>
      <div class="u-overlay"></div>
      <div class="text_contianer">
        <h3>
          <a href="{{ site.baseurl }}{{ post.url | replace: ' ', '%20' }}" target="_blank">
            {{ post.title }}
          </a>
        </h3>
        <p class="blog_author">
          <span class="u-capital"><span class="u-capital u-primary">By :</span></span> {{ post.author }}
        </p>
        <p class="categories">
          {{ post.categories }}
        </p>
      </div>
    </div>
    <div class="blog_list_card_body">
      <p class="blog_text">
        {{ post.content | strip_html | truncatewords: 40 }}
      </p>
      <div class="link_wrappers">
        <a href="{{ site.baseurl }}{{ post.url | replace: ' ' | '%20' }}" class="u-primary u-bold" target="_blank">
          Read More
        </a>
        <a href="#" class="u-primary u-bold">Share</a>
      </div>
    </div>
  </div>
  {% endfor %}

  <!-- Pagination Links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagination_link">
      &lt;
    </a>
    {% else %}
    <span class="pagination_link disabled">
      &lt;
    </span>
    {% endif %}
    <span class="pagination_link">
      {{ paginator.page }}
    </span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pagination_link active">
      &gt;
    </a>
    {% else %}
    <span class="pagination_link disabled">
      &gt;
    </span>
    {% endif %}
  </div>
</div>