// -------------------- //
// ------COLORS-------- //
// -------------------- //

$white-color: #FFFFFF
$black-color: #000000
$primary-color: #FF6A28
$secondary-color: #00CCFF
$territary-color: #AD1457
$heading-color: #222222
$nav-font-color: $heading-color
$bg-color: #F7F7F7
$font-color: #777777
$footer-color: #243238
$primary-dark-color: #FF5206
$facebook-color: #3C5A9A
$google-plus-color: #DD5245
$twitter-color: #429CD6
$linked-in-color: #0073B1

// -------------------- //
// ------FONTS--------- //
// -------------------- //

$heading-font: 'Playfair Display', serif
$base-font: 'Source Sans Pro', sans-serif
$sub-heading-font: $base-font
$button-font: 'Hammersmith One', sans-serif

// -------------------- //
// ------IMAGES-------- //
// -------------------- //

$upcoming-watch-bg: '../img/upcoming-watch-bg.jpg'
$review-container-bg: '../../assets/img/watch-review-bg.png'
$footer-bg: '../img/footer-background-img.png'
$newsletter-bg: '../img/about-newsletter-bg.jpg'
$success-tray-bg: '../img/success-tray-bg.jpg'
$location-header-bg: '../img/location-header.jpg'

// -------------------- //
// -MEDIA  BREAKPOINTS- //
// -------------------- //



// -------------------- //
// -----Font Weight---- //
// -------------------- //

$base-font-weight-bold: 700
$heading-font-weight-bold: 900

// -------------------- //
// ------Shadows------- //
// -------------------- //

$light-shadow: 2px 4px 4px rgba($black-color, 0.1)
$basic-shadow: 0px 3px 6px rgba($black-color, 0.16)
$dark-shadow: 0px 3px 6px rgba($black-color, 0.3)

// -------------------- //
// --Other Variables--- //
// -------------------- //
$navbar-height: 3.75rem
$navbar-brand-height: 2.19rem

$container-max-width: 1140px

$header-carousal-height: 275px
