.btn
  display: inline-block
  height: 50px
  width: 200px
  text-align: center
  font-family: $button-font
  text-decoration: none
  color: $white-color
  // Removed 6 pixel of border
  line-height: 44px
  border: 3px solid transparent
  border-radius: 5px
  box-shadow: $basic-shadow
  margin-bottom: 1rem
  transition: all 0.4s ease
  @media (max-width: 425px)
    height: 40px
    line-height: 34px
    width: 150px
  &_small
    width: 150px
    height: 40px
  &:hover
    box-shadow: $dark-shadow

  &_primary_solid
    border-color: $primary-color
    background-color: $primary-color
    &:hover
      background-color: $primary-dark-color
      border-color: $primary-dark-color
  &_white_ghost
    border-color: $white-color
    &:hover
      background-color: rgba($black-color, 0.2)
  &_primary_ghost
    border-color: $primary-color
    color: $primary-color
    box-shadow: inset $basic-shadow
    &:hover
      box-shadow: inset 0 3px 30px rgba($black-color, 0.2)
      // background-color: rgba($black-color, 0.02)
