<div class="container">
    <div class="row">
        <div class="col col-1-of-2">
            <div class="sign_in_image_container">
                <img src="assets/img/sign-in-page.jpg" alt="Road at Sunshine">
            </div>
        </div>
        <div class="col col-1-of-2">
            <div>
                <h1 class="special">Sign In</h1>
                <form class="sign_in_form">
                    <input class="u-formfield" type="email" name="userEmail" id="user_email" placeholder="E Mail">
                    <input class="u-formfield" type="password" name="userPassword" id="user_password" placeholder="Password">
                    <button type="submit" class="btn btn_primary_solid">Sign In</button>
                </form>

                <p class="or u-bold u-primary u-capital">Or</p>
                <p class="u-bold u-heading u-capital">Sign In Using</p>

                <ul class="social_links_wrapper">
                    <li class="facebook">
                        <a href="">
                            <div class="svg_container">
                                {% include icons/facebook.html %}
                            </div>
                        </a>
                    </li>
                    <li class="google_plus">
                        <a href="">
                            <div class="svg_container">
                                {% include icons/google-plus.html %}
                            </div>
                        </a>
                    </li>
                    <li class="twitter">
                        <a href="">
                            <div class="svg_container">
                                {% include icons/twitter.html %}
                            </div>
                        </a>
                    </li>
                    <li class="linked_in">
                        <a href="">
                            <div class="svg_container">
                                {% include icons/linked-in.html %}
                            </div>
                        </a>
                    </li>
                </ul>
                <p class="u-italic">Do not have account yet!?</p>
                <a class="u-bold u-italic u-primary">Sign Up Now!</a>
            </div>
        </div>
    </div>
</div>