<div class="location_header_container">
    <div class="row">
        <div class="col col-1-of-2">
            <div class="image_container">
                <img src="{{ site.baseurl }}/assets/img/location-header.jpg" alt="Location">
            </div>
        </div>
        <div class="col col-1-of-2">
            <div class="text_content">
                <h1 class="special">Locations</h1>
                <p class="kicker">
                    Yielding set place. Which creature Blessed be third replenish sixth
                    air creeping evening light. Creature meat divide him of under
                    signs replenish void heaven can't man it appear seasons is upon
                    for. Moveth they're grass great subdue moving fruitful face.
                </p>
                <a href="#" class="btn btn_primary_solid">Find Us</a>
            </div>
        </div>
    </div>
</div>