<div class="u-container">
    <h2 class="section_heading">Our Schedule</h2>

    <div class="table_container">
        <table id="schedule">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Opening Time</th>
                    <th>Closing Time</th>
                    <th>Special Offers?</th>
                </tr>
            </thead>
            <tbody>

                {%- comment -%}
                    Looping from schedule file in site data folder.
                {%- endcomment -%}

                {% for day in site.data.schedule.schedule %}
                    <tr>
                        <td class="u-bold">{{ day.day }}</td>
                        <td>{{ day.openingTime }}</td>
                        <td>{{ day.closingTime }}</td>
                        <td>
                            <div class="svg_container">
                                {% if day.specialOffer %}
                                    {% include icons/true.html %}
                                {% else %}
                                    {% include icons/cross.html %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="additional_info">*Special Offers on every end of month</p>
    </div>
</div>