.feature_box
  width: 59%
  margin: 0 auto
  padding: 1rem 24px
  border-radius: 5px
  box-shadow: $basic-shadow
  cursor: default
  transition: all 0.2s ease
  background-color: $white-color
  @media screen and (max-width: 1135px)
    max-width: 80%
    width: 80%
  @media screen and (max-width: 1000px)
    max-width: 400px
    width: 80%
  &:hover
    transform: scale(1.02)
  +flex
  @media screen and (max-width: 425px)
    flex-direction: column
    text-align: center
  .svg_container
    height: 50px
    width: 50px
    min-height: 50px
    min-width: 50px
    +flex
    justify-content: center
    svg
      height: auto
      width: 100%
  .feature_text
    padding-left: 1rem
    @media screen and (max-width: 425px)
      margin-left: 0
      padding-top: 0.7rem
    p:first-of-type
      color: $heading-color
      margin-bottom: 6px
