.index_about
  +section-padding
  .col:not(:last-of-type)
    padding-right: 1rem
  &_heading
    font-family: $heading-font
    &::after
      content: ''
      display: block
      height: 5px
      width: 60px
      background-color: $primary-color
      margin: 10px 0