.about_newsletter
  +section-padding
  background: url(../img/about-newsletter-bg.jpg) center center no-repeat
  background-size: cover
  position: relative
  .u-container
    position: relative
    z-index: 999
  @media (max-width: 768px)
    .flex-row
      flex-direction: column
      .col-5-of-12,
      .col-7-of-12
        width: 100%
    .text_content
      text-align: center
      margin-bottom: 2rem
  h6
    margin-bottom: -5px
  h4
    font-size: 2rem
    color: $white-color
    font-family: $heading-font
  .kicker
    margin-top: -5px
  .flex-col
    &:first-of-type
      display: flex
      justify-content: center
      align-items: center

  #about_newsletter_form
    display: flex
    align-items: center
    justify-content: space-between
    @media (max-width: 768px)
      width: 90%
      margin: 0 auto
    @media (max-width: 568px)
      flex-direction: column
    input[type="email"],
    button
      height: 50px!important
      border: none
      outline: none
    input[type="email"]
      width: calc(65% - 1rem)
      text-align: center
      border-radius: 5px
      padding: 0 1rem
      @media (max-width: 568px)
        margin-bottom: 1rem
        width: 100%
      &::placeholder
        color: rgba(#777777, 0.7)
    button
      width: 35%
      margin-bottom: 0
      @media (max-width: 375px)
        width: 100%