<div class="about_header_container">
  <div class="row">
    <div class="col col-1-of-2">
      <div class="img_container">
        <img src="assets/img/about-header.png" alt="Image of different clocks">
      </div>
    </div>
    <div class="col col-1-of-2">
      <div class="content">
        <h1 class="special">About Us</h1>
        <p class="kicker">
          Yielding set place. Which creature Blessed be third replenish sixth air creeping evening light. Creature meat divide him of under signs replenish void heaven can't man it appear seasons is upon for. Moveth they're grass great subdue moving fruitful face replenish sea gathered him given upon won't you moved bring forth third fowl fruitful saw earth called given man i made whales two that seasons under heaven appear fowl, every.
        </p>
        <a href="{{ site.baseurl }}/locations.html" class="btn btn_primary_solid">Contact Us</a>
      </div>
    </div>
  </div>
</div>
