<div class="u-overlay"></div>
<div class="u-container">
    <div class="flex-row">
        <div class="flex-col col-5-of-12">
            <div class="text_content">
                <h6 class="u-bold u-capital u-primary">Newsletter</h6>
                <h4 class="u-capital">Subscribe Now!</h4>
                <p class="kicker u-capital u-primary">And Get Latest Updates</p>
            </div>
        </div>
        <div class="flex-col col-7-of-12">
            <form 
                action="" 
                method="POST" 
                id="about_newsletter_form">
                    <input 
                        type="email" 
                        name="user_email" 
                        id="user_email_input" 
                        placeholder="Your Email">
                    <button type="submit" class="btn btn_primary_solid">Subscribe</button>
            </form>
        </div>
    </div>
</div>
