<div class="u-container">
  <div class="flex-row">
    <div class="flex-col col-1-of-2">
      <div class="img_container">
        <img src="{{ site.baseurl }}/assets/img/owner.jpg" alt="Owner of Timeliners">
      </div>
    </div>
    <div class="flex-col col-1-of-2">
      <div class="content">
        <h2 class="u-capital">David S. Mayer</h2>
        <p class="u-bold u-capital u-primary post">Owner</p>
        <blockquote>
          Timeliners is started as a small store which is now an international business with 100% customer satisfaction and providing neutral advice to the customer.
        </blockquote>
        <div class="signature_container">
          <img src="{{ site.baseurl }}/assets/img/owner-signature.png" alt="Owner's Signature">
        </div>
      </div>
    </div>
  </div>
</div>