<div class="u-overlay"></div>
<div class="u-container">
  <div class="row">
    <div class="col col-1-of-3">
      <div class="success_box">
        <div class="svg_container">
          {% include icons/successTray/awards.html %}
        </div>
        <div class="text_content u-bold">
          <p class="success_number">1,456</p>
          <p class="success_name u-capital">Awards</p>
        </div>
      </div>
    </div>
    <div class="col col-1-of-3">
      <div class="success_box">
        <div class="svg_container">
          {% include icons/successTray/customers.html %}
        </div>
        <div class="text_content u-bold">
          <p class="success_number">123,456</p>
          <p class="success_name u-capital">Customers</p>
        </div>
      </div>
    </div>
    <div class="col col-1-of-3">
      <div class="success_box">
        <div class="svg_container">
          {% include icons/successTray/brands.html %}
        </div>
        <div class="text_content u-bold">
          <p class="success_number">18</p>
          <p class="success_name u-capital">Brands</p>
        </div>
      </div>
    </div>
  </div>
</div>