<div class="u-container">
  <h2 class="section_heading">Our Team</h2>
  <div id="--js-team-slide">
    <div class="team_container">
        <div class="flex-row">
          <div class="flex-col col-1-of-2">
            <div class="team_img_container">
              <img src="assets/img/team/team-0.png" alt="Clay Burt" id="--js-team-image">
            </div>
          </div>
          <div class="flex-col col-1-of-2">
            <div class="team_member_details">
              <p class="team_member_name" id="--js-member-name">Clay Burt</p>
              <p class="post">
                <span class="u-bold u-capital">Post :</span> <span id="--js-post-name">Store Manager</span>
              </p>
              <p class="kicker" id="--js-kicker">
                Gathered air form spirit under beginning herb so a after, gathered were first made moving. Seasons under. And to evening firmament wherein. Midst herb upon one them second signs female.
              </p>
              <p class="email">
                <span class="u-bold u-capital">Email :</span>
                <span id="--js-email-id"><a href="mailto: clay.burt@store.timeliners.com">clay.burt@store.timeliners.com</a></span>
              </p>
              <p class="phone">
                <span class="u-bold u-capital">Phone :</span>
                <span id="--js-phone-id"><a href="tel: +12049959446">+1 (204) 995 9446</a></span>
              </p>
              <p class="web">
                <span class="u-bold u-capital">On Web :</span>
                <span class="links_container">
                  <a class="team_web_links --js-team-web-links" href="https://www.facebook.com" target="_blank">
                    {% include icons/facebook.html %}
                  </a>
                  <a class="team_web_links --js-team-web-links" href="https://www.twitter.com" target="_blank">
                    {% include icons/twitter.html %}
                  </a>
                  <a class="team_web_links --js-team-web-links" href="https://www.youtube.com" target="_blank">
                    {% include icons/youtube.html %}
                  </a>
                  <a class="team_web_links --js-team-web-links" href="https://www.linkedin.com" target="_blank">
                    {% include icons/linked-in.html %}
                  </a>
              </p>
            </div>
          </div>
        </div>
    </div>
    <div class="team_list_buttons_container" id="--js-team-buttons-container">
      <ul>
        {% for member in site.data.teamMembers.teamMembers %}
          <li>
            <a href="#" class="team_list_buttons --js-team-buttons {% if forloop.index0 == 0 %} active {% endif %}" data-imageNumber="1">
              <img src="assets/img/team/team-{{ forloop.index0 }}.png" alt="{{ member }}">
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
