<div class="u-container">
  <h2 class="section_heading">Our History</h2>
  <div class="timeline_container">
    <ul class="timeline_list">
      <li class="timeline_period col-1-of-2">
        <h4 class="timeline_period_year u-primary">1967</h4>
        <p class="timeline_period_text u-bold">
          Timeliners started their journey. <span class="u-primary">First store</span> opened at Coldstream Avenue. Started with 5 managers and reached here.
        </p>
      </li>
      <li class="timeline_period col-1-of-2">
        <h4 class="timeline_period_year u-primary">1975</h4>
        <p class="timeline_period_text u-bold">
          Established new store at the Bruce Avenue with <span class="u-primary">20</span> New employees. Won best service providers in the town for 1975.
        </p>
      </li>
      <li class="timeline_period col-1-of-2">
        <h4 class="timeline_period_year u-primary">2004</h4>
        <p class="timeline_period_text u-bold">
          Made business <span class="u-primary">International</span>. Opened stores in India, USA and London. Started Online store on the company's website.
        </p>
      </li>
      <li class="timeline_period col-1-of-2 timeline_period_current">
        <h4 class="timeline_period_year u-secondary">2018</h4>
        <p class="timeline_period_text u-bold">
          Won Best Service Providers and having best work environment awards in the Province. Started selling <span class="u-secondary">Rolex</span> watches.
        </p>
      </li>
    </ul>
  </div>
</div>
