---
layout: default
permalink: 'about.html'
---

<!-- Hero Starts Here -->
<div class="about_header">
  {% include pages/about/header.html %}
</div>
<!-- Hero Ends Here -->

<!-- Timeline Section Starts Here -->
<div class="about_timeline">
  {% include pages/about/timeline.html %}
</div>
<!-- Timeline Section Ends Here -->

<!-- Features Section Starts Here -->
<div class="about_features feature_section">
  {% include features.html %}
</div>
<!-- Features Section Ends Here -->

<!-- Team Section Starts Here -->
<div class="about_team">
  {% include pages/about/team.html %}
</div>
<!-- Team Section Ends Here -->

<!-- Success Tray Section Starts Here -->
<div class="about_success_tray">
  {% include pages/about/success-tray.html %}
</div>
<!-- Success Tray Section Ends Here -->

<!-- Owner Section Starts Here -->
<div class="about_owner">
  {% include pages/about/owner.html %}
</div>
<!-- Owner Section Ends Here -->

<!-- Newsletter Section Starts Here -->
<div class="about_newsletter">
  {% include pages/about/newsletter.html %}
</div>
<!-- Newsletter Section Ends Here -->

<!-- Brands Section Starts Here -->
<div class="about_brands brands_section">
  {% include brands.html %}
</div>
<!-- Brands Section Ends Here -->