---
layout: default
permalink: 'about.html'
---

<div class="about_header">
  {% include pages/about/header.html %}
</div>

<div class="about_timeline">
  {% include pages/about/timeline.html %}
</div>

<div class="about_features feature_section">
  {% include features.html %}
</div>

<div class="about_team">
  {% include pages/about/team.html %}
</div>

<div class="about_success_tray">
  {% include pages/about/success-tray.html %}
</div>

<div class="about_owner">
  {% include pages/about/owner.html %}
</div>

<div class="about_newsletter">
  {% include pages/about/newsletter.html %}
</div>

<div class="about_brands brands_section">
  {% include brands.html %}
</div>