---
layout: default
permalink: 'index.html'
---

<!-- Header Starts Here -->
<div class="index_header">
  {% include pages/index/header.html %}
</div>
<!-- Header Ends Here -->

<!-- About section Starts Here -->
<div class="index_about">
  {% include pages/index/about.html %}
</div>
<!-- About Section Ends Here -->

<!-- Upcoming Watch Section Starts Here -->
<div class="index_upcoming_watch">
  {% include pages/index/upcoming-watch.html %}
</div>
<!-- Upcoming Watch Section Ends Here -->

<!-- Top Watches Section Starts Here -->
<div class="index_top_watches">
  {% include pages/index/top-watches.html %}
</div>
<!-- Top Watches Section Ends Here -->

<!-- Feature Section Starts Here -->
<div class="feature_section">
  {% include features.html %}
</div>
<!-- Feature Section Ends Here -->

<!-- Blog Section Starts Here -->
<div class="index_blog">
  {% include pages/index/blog.html %}
</div>
<!-- Blog Section Ends Here -->

<!-- Instagram Section Starts Here -->
<div class="index_instagram">
  {% include pages/index/instagram.html %}
</div>
<!-- Instagram Section Ends Here -->