---
layout: default
permalink: 'index.html'
---

<header class="index_header">
  {% include pages/index/header.html %}
</header>

<div class="index_about">
  {% include pages/index/about.html %}
</div>

<div class="index_upcoming_watch">
  {% include pages/index/upcoming-watch.html %}
</div>

<div class="index_top_watches">
  {% include pages/index/top-watches.html %}
</div>

<div class="feature_section">
  {% include features.html %}
</div>

<div class="index_blog">
  {% include pages/index/blog.html %}
</div>

<div class="index_instagram">
  {% include pages/index/instagram.html %}
</div>
