<header class="watch_header">
  <div class="u-container">
    <div class="flex-row">
      <div class="flex-col col-1-of-2 product_carousal">
        <div id="watch_header_image_carousal" class="exzoom">
          <div class="exzoom_img_box">
            <ul class="exzoom_img_ul">
              {% for i in (0..4) %}
                {% if i == 0 %}
                  <li><img src="{{ page.imageFolderPath }}/feature.png" alt="{{ page.watchName }}"></li>
                {% else %}
                  <li><img src="{{ page.imageFolderPath }}/{{ i }}.png" alt="{{ page.watchName }}"></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="exzoom_nav"></div>
        </div>
      </div>
      <div class="flex-col col-1-of-2 product_details">
        <div>
          <h2 class="watch_name">{{ page.watchName }}</h2>
          <p class="company_name">By <span class="u-bold">{{ page.companyName }}</span></p>
          <p class="watch_details">{{ page.details }}</p>
          <p class="watch_price u-territary"><span class="u-bold">$ {{ page.price }}</span> <span class="watch_price_only">only</span></p>
          <div class="btn-wrapper">
            <a href="#" class="btn btn_primary_solid">Buy Now !</a>
            <a href="#" class="btn btn_primary_ghost">Add To Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
