<section class="watch_reviews">
  <div class="u-container">
    <h2 class="section_heading">Reviews</h2>
    <div id="review_carousal">
      <div class="glider-contain">
        <div class="glider">
          {% for review in site.data.watches.reviews.reviews %}
            {% if review.watchName == page.watchName %}
              {% for review in review.reviews %}
                <div>
                  <div class="slide">
                    <img src="{{ site.baseurl }}/{{ page.imageFolderPath }}/testimonial-{{ forloop.index }}.jpg" alt="name">
                    <div class="review_container">
                      <p class="review">{{ review.review }}</p>
                      <p class="name u-bold u-primary">- {{ review.name }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        <button role="button" aria-label="Previous" class="glider-prev">
          {% include icons/carousal-left-icon.html %}
        </button>
        <button role="button" aria-label="Next" class="glider-next">
          {% include icons/carousal-right-icon.html %}
        </button>
        <div role="tablist" class="dots"></div>
      </div>
    </div>
  </div>
</section>
