// -------------------- //
// ------COLORS-------- //
// -------------------- //

$white-color: #FFFFFF
$black-color: #000000
$primary-color: #FDC715
$secondary-color: #181E37
$heading-color: #222222
$nav-font-color: #777777
$bg-color: #F7F7F7
$font-color: #515155
$footer-color: #243238

// -------------------- //
// ------FONTS--------- //
// -------------------- //

$heading-font: "Oswald", sans-serif
$sub-heading-font: "Hammersmith One", sans-serif
$base-font: "Josefin Sans", sans-serif

// -------------------- //
// ------IMAGES-------- //
// -------------------- //

$hero-bg: '../../assets/img/hero-bg.jpg'
$newsletter-bg: '../../assets/img/newsletter-bg.jpg'

// -------------------- //
// -MEDIA  BREAKPOINTS- //
// -------------------- //

$large-breakpoint: 1140px
$medium-breakpoints: 991.99px
$small-breakpoints: 789.99px
$extra-small-breakpoints: 574.99px
$very-extra-small-breakpoints: 530.99px

// -------------------- //
// ------Shadows------- //
// -------------------- //

$basic-box-shadow: 0px 3px 6px rgba($black-color, 0.16)
$basic-text-shadow: 0px 3px 6px rgba($black-color, 0.16)

// -------------------- //
// --Other Variables--- //
// -------------------- //
$navbar-height: 3.75rem
$navbar-brand-height: 2.19rem
