.u-container
  max-width: 1140px
  width: 100%
  margin: 0 auto

.u-bold
  font-weight: $base-font-weight-bold

.u-capital
  text-transform: uppercase
  letter-spacing: 1px

.u-primary
  color: $primary-color!important

.u-territary
  color: $territary-color!important

.u-overlay
  background-color: rgba($black-color, 0.75)
  height: 100%
  width: 100%
