---
layout: postDefault
---

<header class="blog_post_header">
  {% include pages/blog-post/header.html %}
</header>

<main class="blog_post_body">
  <div class="u-container">
    <div class="row">
      <div class="col col-8-of-12">
        <div class="post_content">
          <div class="post_text">
            {{ content }}
          </div>
        </div>
      </div>
      <div class="col col-4-of-12">
        {% include pages/blog-post/sidebar.html %}
      </div>
    </div>
  </div>
</main>
