---
layout: postDefault
---

<header class="blog_post_header">
  <img
    src='../../../../../assets/img/blogs/{{ page.categories }}/{{ page.date | date: "%Y-%m-%d" }}-{{ page.imageName }}-feature.jpg'
    alt="{{ page.title }} feature"
    class="blog_post_header-background" >
  <div class="content">
    <h1>{{ page.title }}</h1>
    <p>{{ page.categories }}</p>
    <p class="path">
      <a href="../../../../../blog-index.html">Home</a> /
      <a href="../../../../../blogs/{{ page.categories }}.html">{{ page.categories }}</a> /
      <a href="{{ page.url }}">{{ page.title }}</a>
    </p>
  </div>
</header>

{{ content }}
