---
layout: default
---

<header class="blog_post_header">
  <img
    src="{{ site.baseurl }}/assets/img/blogs/feature.jpg"
    alt="Blogs feature"
    class="blog_post_header-background"
  />
  <div class="u-overlay"></div>

  <div class="content">
    <h1>Blogs</h1>
    <p class="path">
      <span>Page {{ paginator.page }}</span>
    </p>
  </div>
</header>

<main class="blog_post_body">
  <div class="u-container">
    <div class="row">
      <div class="col col-8-of-12">
        <div class="post_content">
          <div class="post_text">
            {{ content }}
          </div>
        </div>
      </div>
      <div class="col col-4-of-12">
        {% include pages/blog-post/sidebar.html %}
      </div>
    </div>
  </div>
</main>
