<!DOCTYPE html>
<html lang="en">
    <!-- Head Starts Here -->
    <head>
        {% include head.html %}
    </head>
    <!-- Head Ends Here -->
    <body>
        <!-- Header Starts Here -->
        <header>
            {% include navbar.html %}
        </header>
        <!-- Header Ends Here -->

        <!-- Main Starts Here -->
        <main>
            {{ content }}
        </main>
        <!-- Main Ends Here -->

        <!-- Adding JavaScripts -->
        <script src="assets/js/vendors.js"></script>
        <script src="assets/js/app.js"></script>
    </body>
</html>