---
layout: default
---
<header class="watch_header">
  <div class="u-container">
    <div class="flex-row">
      <div class="flex-col col-1-of-2 product_carousal">
        <div id="watch_header_image_carousal" class="exzoom">
          <div class="exzoom_img_box">
            <ul class="exzoom_img_ul">
              {% for i in (0..4) %}
                {% if i == 0 %}
                  <li><img src="{{ page.imageFolderPath }}/feature.png" alt="{{ page.watchName }}"></li>
                {% else %}
                  <li><img src="{{ page.imageFolderPath }}/{{ i }}.png" alt="{{ page.watchName }}"></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="exzoom_nav"></div>
        </div>
      </div>
      <div class="flex-col col-1-of-2 product_details">
        <div>
          <h2 class="watch_name">{{ page.watchName }}</h2>
          <p class="company_name">By <span class="u-bold">{{ page.companyName }}</span></p>
          <p class="watch_details">{{ page.details }}</p>
          <p class="watch_price u-territary"><span class="u-bold">$ {{ page.price }}</span> <span class="watch_price_only">only</span></p>
          <div class="btn-wrapper">
            <a href="#" class="btn btn-primary-solid">Buy Now !</a>
            <a href="#" class="btn btn-primary-ghost">Add To Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{{ content }}

<section class="watch_reviews">
  <div class="u-container">
    <h2 class="section_heading">Reviews</h2>
    <div id="review_carousal">
      <div class="glider-contain">
        <div class="glider">
          {% for review in site.data.watches.reviews.reviews %}
            {% if review.watchName == page.watchName %}
              {% for review in review.reviews %}
                <div>
                  <div class="slide">
                    <img src="{{ page.imageFolderPath }}/testimonial-{{ forloop.index }}.jpg" alt="name">
                    <div class="review_container">
                      <p class="review">{{ review.review }}</p>
                      <p class="name u-bold u-primary">- {{ review.name }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        <button role="button" aria-label="Previous" class="glider-prev">
          {% include icons/carousal-left-icon.html %}
        </button>
        <button role="button" aria-label="Next" class="glider-next">
          {% include icons/carousal-right-icon.html %}
        </button>
        <div role="tablist" class="dots"></div>
      </div>
    </div>
  </div>
</section>

<div class="watch_comments">
  <div class="u-container">
    <div class="row col-6-of-12">
      <h5 class="comments_title">
        {% for review in site.data.watches.reviews.reviews %}
          {% if review.companyName == page.companyName %}
            {% if review.watchName == page.watchName %}
              {{ review.comments | size }} Comments
            {% endif %}
          {% endif %}
        {% endfor %}
      </h5>
      <div class="comments_container">
        {% for review in site.data.watches.reviews.reviews %}
          {% if review.companyName == page.companyName %}
            {% if review.watchName == page.watchName %}
              {% for comment in review.comments %}
              <div class="comment_box {% if comment.isSubComment == true %} subComment {% endif %}">
                <img src="{{ page.imageFolderPath }}/comments/{{ comment.name }}.jpg" alt="{{ comment.name }}">
                <div class="comment">
                  <p class="comment_text">{{ comment.comment }}</p>
                  <div class="comment_buttons_wrapper">
                    <div class="comment_action_buttons">
                      <a href="#" class="comment_link">{% include icons/comment-reply.html %} Reply</a>
                      <a href="#" class="comment_link">{% include icons/comment-heart.html %} Like</a>
                    </div>
                    <div class="social_links">
                      <a href="#" class="comment_link_social">{% include icons/facebook.html %}</a>
                      <a href="#" class="comment_link_social">{% include icons/youtube.html %}</a>
                      <a href="#" class="comment_link_social">{% include icons/twitter.html %}</a>
                      <a href="#" class="comment_link_social">{% include icons/linked-in.html %}</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="watch_reply">
  <div class="u-container">
    <div class="row col-6-of-12">
      <h5>Leave a Reply</h5>
      <form class="reply_form">
        <div class="row">
          <div class="col col-1-of-2">
            <input type="text" name="fname" placeholder="First Name" required>
          </div>
          <div class="col col-1-of-2">
            <input type="text" name="lname" placeholder="Last Name">
          </div>
        </div>
        <div class="row">
          <input type="email" name="email" required placeholder="Email">
        </div>
        <div class="row">
          <textarea name="message" placeholder="Message" required></textarea>
        </div>
        <div class="row">
          <input type="submit" value="Reply" class="btn-small btn-primary-solid">
        </div>
      </form>
    </div>
  </div>
</div>
